<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Applications</h4>
        <p>Residential: <br/>
          Home Office, Bedside, Lounge</p><br/>
        <p>Contract Office: <br/>
          Individual Work Stations, Meeting Spaces, Lobbies and Waiting Areas</p><br/>
        <p>Hospitality: <br/>
          Guest rooms, Lobby, Lounge</p><br/>
    <li id="section-2">
      <h4>Eco-Friendly Features</h4>
        +Designed for disassembly<br/>
        +Ships flat packed<br/>
        +Replacable LED bulb<br/>
        +Customizable<br/>
        +Thoughtful connections<br/>
    </li>
    <li id="section-3">
      <h4>Certifications</h4>
      <p>UL</p>
    </li>
    <li id="section-4">
      <h4>Section 4</h4>
      <p>
        +Light Output" 360 lm
        +Power: 4W
        +Efficacy: 88 lm/w
        +CCT: 4000K, CRI 80
      </p>
    </li>
  </ul>
</div>
